<div class="col-md-6">

    <h1>Gráfico de Pizza</h1>
    <ul>
        <li>Gastos por relevancia</li>
        <li>Desejavel: em um intervalo de datas</li>
    </ul>

</div>

<div class="col-md-6">

    <h1>Gráfico de Pizza</h1>
    <ul>
        <li>Receitas por fonte</li>
        <li>Desejavel: em um intervalo de datas</li>
    </ul>

</div>

<div class="col-md-6">

    <h1>Gráfico de linha</h1>
    <ul>
        <li>Ultimos 30 dias de gastos</li>
        <li>Desejavel: em um intervalo de datas</li>
    </ul>


</div>

<div class="col-md-6">

    <h1>Gráfico de linha</h1>
    <ul>
        <li>Ultimos 30 dias de receitas</li>
        <li>Desejavel: em um intervalo de datas</li>
    </ul>

</div>